Client/Connected Services/HeroesService/HeroesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HeroesService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60770/HeroesService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60770/HeroesService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60770/HeroesService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Services" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHeroesService_GetHeroSchool_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroSchool" />
  </wsdl:message>
  <wsdl:message name="IHeroesService_GetHeroSchool_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroSchoolResponse" />
  </wsdl:message>
  <wsdl:message name="IHeroesService_GetHero_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHero" />
  </wsdl:message>
  <wsdl:message name="IHeroesService_GetHero_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroResponse" />
  </wsdl:message>
  <wsdl:portType name="IHeroesService">
    <wsdl:operation name="GetHeroSchool">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroesService/GetHeroSchool" message="tns:IHeroesService_GetHeroSchool_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroesService/GetHeroSchoolResponse" message="tns:IHeroesService_GetHeroSchool_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IHeroesService/GetHero" message="tns:IHeroesService_GetHero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHeroesService/GetHeroResponse" message="tns:IHeroesService_GetHero_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHeroesService" type="tns:IHeroesService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHeroSchool">
      <soap:operation soapAction="http://tempuri.org/IHeroesService/GetHeroSchool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHero">
      <soap:operation soapAction="http://tempuri.org/IHeroesService/GetHero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HeroesService">
    <wsdl:port name="BasicHttpBinding_IHeroesService" binding="tns:BasicHttpBinding_IHeroesService">
      <soap:address location="http://localhost:60770/HeroesService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>